<!-- Activism content -->
<header class = "galHead">
               <h1>Activism</h1><i class = "fa fa-anchor fa-2x"></i>
            </header>
    <div id = "header">
        <blockquote>Right now over 27 MILLION people are victims of human trafficking, world-wide. The average age is 14 years old.</blockquote>
        <img id = "slavery" src = "img/banner_slavery.jpg" alt "Every 30 seconds another person becomes a victim of slavery">
    </div>
    <section>
	<article id = "data">
		<h3>Trafficking Statistics</h3>
        <canvas id="trafficking" width="300" height="300"></canvas>        
	
<script>  //I don't like inline scripting but due to all the scripts, plugins, it was the only way I could get the chart.js to work.  As I would not normally run so much at one time, I chose this as the best of all evils after hours of tweaking it externally with no luck.  This was the last element I added.
var pieData = [
                {
                    value: 46,
                    color:"#9e6037",
                    label: "Prostitution"
                },
                {
                    value : 27,
                    color : "#c4c87b",
                    label : "Domestic Servitude"
                },
                {
                    value : 10,
                    color : "#cabdaa",
                    label : "Agriculture"
                },
                {
                    value : 5,
                    color : "#ebc280",
                    label : "Factories"
                },
                {
                    value : 12,
                    color : "#657036",
                    label : "Misc"
                }
            ];
            // pie chart options
            var pieOptions = {
                 segmentShowStroke : true,
                 segmentStrokeColor : "#000000",
                 segmentStrokeWidth : 1,
                 animateRotate: true,                 
                 
                 tooltipTemplate : "<%= label %>: <%= value %>% ",
                 animation : true,
                 animationSteps : 60,
                 animationEasing : "easeInOutElastic,"
            }
            // get pie chart canvas
            var trafficking= document.getElementById("trafficking").getContext("2d");
            // draw pie chart
            new Chart(trafficking).Pie(pieData, pieOptions); 
</script>
    <p>Categories of Human Trafficking</p>
</article>

	
	<div id = "video">
        <h3>Information on Human Trafficking</h3>
    	<video id = "vid" width = "400" onClick= "pauseToggle()" poster = "img/SocialMedia_9.jpg">
    		<source src = "img/video/A21_Commodities.mp4" type = "video/mp4" />
    		<source src = "img/video/A21_Commodities.ogg" type = "video/ogg" />
    		Video is Not Supported
    	</video>
        <div id = "btnGrp">
            <button id = "muteBtn" onClick = "vidmute()" >Mute</button>
    		<button id = "vidBtn" onClick = "clicked()">Watch Now!</button>		
        </div>
    </div>
</article>
</section>

<section id = "a21">
<article>
<p>Actively participating in conjunction with <a href = "http://a21.org"> A21.org</a>, a non-profit organization whose mission it is to abolish injustice in the 21st Century, we believe that by working together an end can come to the modern day equivelancy of slavery.  Human - Trafficking.</p>
<p>Through education, awareness and community involvement we strive to make our communities safer and more aware by working together.</p>
</article>
</section>


		
		

	




    